<h2>
  Hello, {{user.name}}. Welcome Back!</h2>
<br>
<h6>My Address: {{user.address}}</h6>
<br>
<h6>My Birthday: {{user.age}}</h6>
</br>
<h6>My Phone Number: {{user.phoneNumber}}</h6>
</br>



<button>
  <a href="/users/{{user._id}}/edit">Settings</a>
</button>

<form method="POST" action="/products">

  <button type="submit">Libations Await</button>

</form>
<form action="/users/{{user._id}}?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>