<h2>
  Hello, {{user.name}}. Welcome Back!</h2>
<br>
<h3>My Address: {{user.address}}</h3>
<br>
<h3>My Birthday: {{user.age}}</h3>
</br>
<h3>My Phone Number: {{user.phoneNumber}}</h3>
</br>



<button>
  <a href="/users/{{user._id}}/edit">Settings</a>
</button>

<form method="POST" action="/products">
  <br />

  <button type="submit">Libations Await</button>

</form>
<form action="/users/{{user._id}}?_method=DELETE" method="POST">
  <br />
  <button type="submit">Delete</button>
</form>
