<h1>{{user.name}}</h1>
<p>{{user.location}} </p>
<p>{{user.age}}</p>
<p>{{user.phoneNumber}} </p>

<form method="POST" action="/products/{{companyId}}/sodas/{{user._id}}?_method=DELETE">
  <button type="submit">Delete This User</button>
</form>